.spacetaxi{
  	background-color:black;
  	color:White;
}
.planettaxi{
  	background-color:green;
}
.healing{
  	background-color:red;
}
h1{
	font-size:50px;
}
body{
	background-color:saddlebrown;
}
h5{
	font-size:20px;
}
button{
	font-family:'Permanent Marker',cursive;
	font-weight:bold;
	text-transform:uppercase;
	border-radius:30px;
}
.hunting{
	background-color:#355e3b;
}
.paymentplans{
	background-color:#D4AF37;
}
.product{
	position:relative;
	width:350px;
	box-shadow:0 0 10px 0 rgba(0,0,0,7);
	border-radius:25px;
	height:350px;
}
.column{
	float:left;
	width:25%;
}
.row:after{
	content:"";
	display:grid;
	clear:both;
	grid-template-columns:1fr 1fr 1fr 1fr;
}
.homepageraffles{
	background-color:purple;
}
.currentraffle{
	background-color:green;
}
.pastraffles{
	background-color:red;
}