font{
  font-weight: normal;
}
.sleipnir{
  background-color:black;
  color:White;
}
.strider{
  background-color:White;
}
.valkyrie{
  background-color: Grey;
}
.services{
  background-color:rgb(35, 10, 10);
}