font{
  font-weight: normal;
}
.spacetaxi{
  background-color:black;
  color:White;
}
.planettaxi{
  background-color:green;
}
.healing{
  background-color:red;
}
.hunting{
  background-color:saddlebrown;
}